<div class="container">
  <%= form_tag(books_path, method: :get) do %>
    <%= select_tag(:character, options_for_select(["Hercule Poirot", "Miss Marple"])) %>
    <%= submit_tag("Filtrer") %>
  <% end %>

 <div class="grid-container">
        <% @books.each_slice(4) do |row| %>
            <div class="grid-row">
                <% row.each do |book| %>
                    <div class="grid-item">
                        <% if book.cover_url.present? %>
                            <%= image_tag book.cover_url, class: "book-cover" %>
                        <% else %>
                            <p class="book-title"><%= book.title %></p>
                        <% end %>
                    </div>
                <% end %> <!-- row.each -->
            </div>
        <% end %> <!-- @books.each_slice -->
    </div> <!-- grid-container -->
</div> <!-- container -->
