<div class="container">
  <%= form_tag(books_path, method: :get) do %>
    <%= select_tag(:character, options_for_select(["Hercule Poirot", "Miss Marple"])) %>
    <%= submit_tag("Filtrer") %>
  <% end %>

  <% @books.each do |book| %>
    <div>
      <h2><%= book.title %></h2>
      <% if book.cover_url.present? %>
        <%= image_tag book.cover_url %>
      <% else %>
        <p>Aucune couverture disponible</p>
      <% end %>
    </div>
  <% end %>
</div>
