<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= book.year %>
  </p>

  <p>
    <strong>Read:</strong>
    <%= book.read %>
  </p>

  <p>
    <strong>Cover url:</strong>
    <%= book.cover_url %>
  </p>

</div>
